name: auth0/auth0-java-mvc-common/build-and-test

on:
  pull_request:
  merge_group:
  push:
    branches: ["master", "main", "v1"]

jobs:
  gradle:
    runs-on:  ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 8

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@748248ddd2a24f49513d8f472f81c3a07d4d50e1 # v4.4.4

      - name: Test and Assemble and ApiDiff with Gradle
        run: ./gradlew assemble apiDiff check jacocoTestReport --continue --console=plain

      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7
        with:
          flags: unittests
      - uses: actions/upload-artifact@v4
        with:
          name: Reports
          path: lib/build/reports
